<section id="cardBuisenesses" class="page-section">
  <div class="container" style="max-width: 960px">
    <div class="row">
      <div class="col-lg-6">
        <div class="floating">
          <div class="thickness"></div>
          <div class="thickness"></div>
          <div class="thickness"></div>
          <div class="card_body">
            <div class="logo_center svg"></div>
            <div class="logo text">Nite</div>
            <div class="paywave svg"></div>
            <div class="card_no text">
              1234-5678-9012-3456
            </div>
            <div class="holder text">Rhythm</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <h1>{{site.data.sitetext.cardowners.title}}</h1>
        <p style="text-muted">{{site.data.sitetext.cardowners.text}}</p>
      </div>
    </div>
  </div>
</section>
