<section id="cardcontrol">
  <div class="container" style="max-width: 720px">
    <div class="row">
      <div class="col-md-6">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="/assets/img/userswithout/cardinfo.png" style="width: 100%" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center text-left">
        <h1 style="font-size: 3rem">Lost your card?</h1>
        <p style="text-muted">Loosing your card has never been so easy to solve. Control your card remotly, block it in case of loosing it and no one else will be able to buy a drink with your card.</p>
      </div>
    </div>
  </div>
</section>
