<section id="consumerbill" style="background-color: #F8F8F6">
  <div class="container" style="max-width: 720px">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h1 style="font-size: 3rem">Check your bill</h1>
          <p style="text-muted">Tap into your phone and always find out how much are you paying and what have you drunk already in a matter of seconds.</p>
      </div>
      <div class="col-md-6">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="/assets/img/userswithout/billinginfo.png" style="width: 100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
