<section id="consumerfea" class="page-section">
  <div class="container" style="max-width: 960px">
    <div class="row">
      <div class="col-lg-4" style="display: flex; justify-content: center">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <div id="slideshow" style="overflow: hidden">
                {% for item in site.data.sitetext.consumerimagecaroussel %}
                  <div>
                    <img src="{{item.img}}" style="width: 100%" alt="">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 text-center">
        <h1 style="font-size: 3rem">{{site.data.sitetext.consumerfeatures.titleText}}</h1>
        <p style="text-muted">{{site.data.sitetext.consumerfeatures.text}}</p>
        <div class="row" style="margin-top: 10%">
          {% for item in site.data.sitetext.consumerfeatures.features %}
            <div class="col-6 align-self-center">
              <div class="feature">
                <i class="{{item.icon}}"></i>
                <h3>{{item.name}}</h3>
                <p>{{item.text}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
