<section id="digitalmenu" style="background-color: #F8F8F6">
  <div class="container" style="max-width: 720px">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h1 style="font-size: 3rem">Digitial Menu</h1>
          <p style="text-muted">Check the price of each drink inside a establishment, choose what you want to drink.</p>
      </div>
      <div class="col-md-6">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="/assets/img/userswithout/menu.png" style="width: 100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
