<section id="docsdeveloper" class="page-section" style="background-color: #F8F8F6">
  <div class="container" style="max-width: 1140px">
    <div class="row">
      <div class="col-xl-7 text-center">
        <figure>
          <img src="{{site.data.sitetext.docsdeveloper.img}}" style="width: 100%; border-radius: 20px;" alt="">
          <figcaption style="margin-top: 25px">{{site.data.sitetext.docsdeveloper.imgcaption}}</figcaption>
        </figure>
      </div>
      <div class="col-xl-5 align-self-center">
        <h1>{{site.data.sitetext.docsdeveloper.title}}</h1>
        <a href="{{site.data.sitetext.docsdeveloper.link}}"><p style="text-muted">{{site.data.sitetext.docsdeveloper.text}}</p></a>
      </div>
    </div>
  </div>
</section>
