<section id="docsinquiries" class="page-section">
  <div class="container" style="max-width: 1140px">
    <div class="row">
      <div class="col-xl-5 align-self-center">
        <h1>{{site.data.sitetext.docsinquiries.title}}</h1>
        <p>{{site.data.sitetext.docsinquiries.text}}</p>
        <a href="{{site.data.sitetext..docsinquiries.link}}"><p style="text-muted">{{site.data.sitetext.docsinquiries.result}}</p></a>
      </div>
      <div class="col-xl-7 text-center">
        <figure>
          <img src="{{site.data.sitetext.docsinquiries.img}}" style="width: 100%; max-width: 500px; border-radius: 20px;" alt="">
          <figcaption style="margin-top: 25px">{{site.data.sitetext.docsinquiries.imgcaption}}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
