<section id="mobilepayment">
  <div class="container" style="max-width: 720px">
    <div class="row">
      <div class="col-md-6" style="display: flex; justify-content: center">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="{{site.data.sitetext.mobilepayment.img}}" style="width: 100%" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center text-left">
        <h1 style="font-size: 3rem">{{site.data.sitetext.mobilepayment.titleText}}</h1>
        <p style="text-muted">{{site.data.sitetext.mobilepayment.text}}</p>
      </div>
    </div>
  </div>
</section>
