<section id="mobilepayment">
  <div class="container" style="max-width: 720px">
    <div class="row">
      <div class="col-md-6">
        <div class="device-wrapper" style="width: 100%">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen">
              <img src="/assets/img/userswithout/paymentcredit.png" style="width: 100%" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center text-left">
        <h1 style="font-size: 3rem">Pay on your phone</h1>
        <p style="text-muted">Avoid unecessary queue at the exit, pay in two seconds on your device and leave before everyone else.</p>
      </div>
    </div>
  </div>
</section>
