<section id="platform" class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">One Platform<br/> Multiple Estabelishments</h2>
        <p>A platform that brings together multiple estabelishments in the same system.</p>
      </div>
      <div class="col-lg-12" style="display: flex; justify-content: center">
        <section id="intro">
          <div id="intro-content" class="center-content">
            <div class="center-content-inner">
              <div class="content-section content-section-margin">
                <div class="content-section-grid clearfix">
                  <a href="#" class="buttonRec">
                    <div class="bottom"></div>
                    <div class="top">
                      <div class="label">For Customers</div>
                      <div class="buttonRec-border buttonRec-border-left"></div>
                      <div class="buttonRec-border buttonRec-border-top"></div>
                      <div class="buttonRec-border buttonRec-border-right"></div>
                      <div class="buttonRec-border buttonRec-border-bottom"></div>
                    </div>
                  </a>
                </div>
               </div>
              </div>
             </div>
        </section>
        <section id="intro">
          <div id="intro-content" class="center-content">
            <div class="center-content-inner">
              <div class="content-section content-section-margin">
                <div class="content-section-grid clearfix">
                  <a href="#" class="buttonRec">
                    <div class="bottom"></div>
                    <div class="top">
                      <div class="label">For Owners</div>
                      <div class="buttonRec-border buttonRec-border-left"></div>
                      <div class="buttonRec-border buttonRec-border-top"></div>
                      <div class="buttonRec-border buttonRec-border-right"></div>
                      <div class="buttonRec-border buttonRec-border-bottom"></div>
                    </div>
                  </a>
                </div>
               </div>
              </div>
             </div>
        </section>
      </div>
    </div>
  </div>
</section>
