<section id="walkthrought5" class="page-section" style="background-color: #F8F8F6">
  <div class="container" style="max-width: 960px">
    <div class="row">
      <div class="col-lg-5" style="display: flex; flex-direction: column; align-items: center;">
          <div class="device-wrapper" style="width: 100%">
            <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
              <div class="screen">
                <img src="{{site.data.sitetext.walkthroughtpart5.img}}" style="width: 100%" alt="">
              </div>
            </div>
          </div>
          <div style="margin-top: 25px">
            {{site.data.sitetext.walkthroughtpart5.imgcaption}}
          </div>
      </div>
      <div class="col-lg-7 align-self-center">
        <h1>{{site.data.sitetext.walkthroughtpart5.title}}</h1>
        <p style="text-muted">{{site.data.sitetext.walkthroughtpart5.text}}</p>
      </div>
    </div>
  </div>
</section>
