<section id="walkthrought4" class="page-section">
  <div class="container" style="max-width: 960px">
    <div class="row">
      <div class="col-lg-7 align-self-center">
        <h1>{{site.data.sitetext.walkthroughtpart4.title}}</h1>
        <p style="text-muted">{{site.data.sitetext.walkthroughtpart4.text}}</p>
      </div>
      <div class="col-lg-5 text-center" style="display: flex; justify-content: center;">
        <figure>
          <img src="{{site.data.sitetext.walkthroughtpart4.img}}" width="300px" alt="">
          <figcaption style="margin-top: 25px">{{site.data.sitetext.walkthroughtpart4.imgcaption}}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
